<div class="layui-fluid layui-anim febs-anim" id="febs-content" lay-title="卡券管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">卡券标题</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="couponTitle" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="coupon:add,coupon:delete">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="dataTable" lay-data="{id: 'dataTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="data-option">
    <span shiro:lacksPermission="coupon:view,coupon:update,coupon:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="coupon:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="coupon:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>


<script type="text/html" id="status">
    {{#
    var status = {
    1: {title: '上架'},
    2: {title: '未上架'}
    }[d.status];
    }}
    <span>{{ status==null?'':status.title }}</span>
</script>

<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs','treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-content'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'id', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#createTime',
            range: true,
            trigger: 'click'
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('dataTable');
                if (name === 'add') {
                    febs.modal.open('新增卡券', 'business/coupon/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#data-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#data-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的用户');
                    } else {
                        febs.modal.confirm('删除用户', '确定删除该用户？', function () {
                            var ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deleteData(ids.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增卡券',
                perms: 'coupon:add'
            }, {
                name: 'delete',
                title: '删除卡券',
                perms: 'coupon:delete'
            }]
        });

        table.on('tool(dataTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除配置', '确定删除该支付配置？', function () {
                    deleteData(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改支付配置', 'business/coupon/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#data-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(dataTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'dataTable',
                url: ctx + 'coupon/list',
                cols: [[
                    {type: 'checkbox'},
                    { title: '卡券标题',field: 'couponTitle'},
                    { title: '开始时间',field: 'startTime'},
                    { title: '结束时间',field: 'endTime'},
                    {title: '状态', templet: '#status',sort: true},
                    {title: '操作', toolbar: '#data-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            return {
                couponTitle: $searchForm.find('input[name="couponTitle"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteData(ids) {
            febs.get(ctx + 'coupon/delete/' + ids, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }
    })
</script>