/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
application-local.yml
README.md



### IntelliJ IDEA ###
.idea/workspace.xml
.idea/dictionaries/myj.xml
.idea/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.DS_Store
*.classpath
*.project
.target
.prefs
.classpath
*.class
**/.prefs
**/.settings
**/.classpath
**/.eclipse
**/target/
target/
/target/
/.nb-gradle/
/logs/
