<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.phone.mapper.sys.SysUserMapper">

    <select id="findUserInfo" resultType="java.util.Map">
        select * from sys_user
        WHERE name=#{name}
    </select>

  <select id="findUserInfo" resultType="java.util.Map">
    select * from sys_user
    WHERE uid=#{uid}
  </select>
  <select id="findAlluser" resultType="java.util.Map">
    select * from sys_user WHERE 1=1
    <if test=" name!=null and name!='' ">
      and name=#{name}
    </if>
  </select>
  <insert id="addUser">
    INSERT INTO sys_user
         (uid,
          name,
          age,
          address,
          login_id,
          `password`
         ) VALUES (
           #{uid},
           #{name},
           #{age},
           #{address},
           #{loginId},
           #{password});
  </insert>
  <update id="updateUser">
    UPDATE sys_user
     <set>
         <if test="#{name}!=''">name=#{name},</if>
         <if test="#{age}!=''"> age=#{age},</if>
         <if test="#{address}!=''"> address=#{address},</if>
         <if test="#{loginId}!=''">login_id=#{loginId},</if>
         <if test="#{password}!=''">`password`=#{password}</if>
    </set>
      WHERE (uid=#{uid});
  </update>
    <delete id="deleteUser">
        delete FROM sys_user where uid=#{uid}
    </delete>
 
</mapper>